.serach-input {
  display: block;
  height: 50px;
  width: 400px;
  border-radius: 10px;
  border: 0;
  padding: 4px 16px;
  background-color: rgba(#000, 0.3);
  color: rgba(#fff, 0.8);
  border: 1px solid rgba(#fff, 0.4);
  transition: all 0.3s ease-out;
  &::-webkit-input-placeholder {
    color: rgba(#fff, 0.8);
    font-size: 14px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 14px 18px rgba(#fff, 0.08);
    transform: scale(1.05);
  }
}
